aiohttp

psutil
beautifulsoup4


git+https://github.com/EvieePy/Wavelink@master#egg=wavelink


git+https://github.com/Devoxin/Lavalink.py@dev#egg=lavalink

git+https://github.com/Gorialis/jishaku@master#egg=jishaku

git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]

